server {
add_header X-Frame-Options "SAMEORIGIN";
add_header X-Content-Type-Options "nosniff";
add_header X-XSS-Protection "1; mode=block";
    listen 80;
    listen 443 ssl;
    server_name {{ server.name }};

    root {{ root.path }};
    index index.html;

    # Pengaturan SSL
    ssl_certificate {{ ssl.cert }};
    ssl_certificate_key {{ ssl.key }};

    # Pengaturan Browser Cache
    location ~* \.(css|js|jpg|jpeg|png)$ {
        expires 7d;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}


