[DEFAULT]
# Add any default config here (optional)

{% for jail, config in fail2ban_jail.items() %}
[{{ jail }}]
{% for key, value in config.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
